# Встроенные файлы приложений
* .apk
* .ap_
* .aab

# Локальный файл конфигурации (путь SDK и т. Д.)
local.properties

# Gradle файлы
.gradle /

# Пользовательские конфигурации
* .iml

# ОС-специфичные файлы
.DS_Store
.DS_Store?
._ *
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Контроль версий
vcs.xml

# линт
ворс / промежуточные /
ворс / генерироваться /
ворс / выходы /
пух / TMP /
пух / отчеты /